<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAPPIDAY</title>
    <style>
        #container {
            display: flex;
            height: 70vh;
        }

        #room-container {
            overflow-y: scroll;
            width: 30vw;
        }

        #chat-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-left: 1px inset;
            width: 60vw;
            padding: 10px;
        }

        #message-container {
            overflow-y: scroll;
            flex: 1;
            margin-bottom: 10px;
        }

        #message-form {
            display: flex;
            width: 100%;
            align-items: stretch;
        }

        #message-input {
            width: 100%;
            height: 24px;
        }

    </style>
</head>
<body>
<div id="user-container"></div>
<hr>
<button id="create-room-button">방 만들기</button>
<div id="container">
    <div id="room-container"></div>
    <div id="chat-container">
        <h2 id="chat-title"></h2>
        <div id="message-container">채팅방을 골라주세요.</div>
        <form id="message-form">
            <input type="text" id="message-input">
            <input type="submit" value="보내기">
        </form>
    </div>
</div>
<hr>
<a href="/views/home">홈페이지</a>
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>
<script src="/static/assets/js/user.js"></script>
<script>
    let userId
    let selectedRoom

    // 방만들기
    const createRoomButton = document.getElementById('create-room-button');

    createRoomButton.addEventListener('click', () => {
        const data = prompt('닉네임을 검색해주세요'); // 사용자로부터 방 이름 입력 받음
        if (data) {
            fetch('/api/v1/chat', {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${getJwt()}`,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ nickname: data })
            })
                .then(response => {
                    if (response.ok) {
                        setChatRooms();
                    } else {
                        throw new Error(response.status.toString());
                    }
                })
                .catch(error => {
                    console.error('Error creating room:', error);
                    alert('방을 만들 수 없습니다.');
                });
        } else {
            alert('닉네임을 검색하세요.');
        }
    });


    // 채팅방 목록 갱신
    const setChatRooms = function () {
        return fetch('/api/v1/chat/rooms', {
                headers: {
                    'Authorization': `Bearer ${getJwt()}`,
                }
            }
        ).then(response => {
            if (response.ok)
                return response.json()
            else throw new Error(response.status.toString())
        }).then(bodyJson => {
            const roomContainer = document.getElementById('room-container')
            roomContainer.innerHTML = ``
            for (const room of bodyJson) {
                const roomElem = document.createElement('div')
                const roomWith = document.createElement('h4')
                const roomOpenButton = document.createElement('button')
                const roomDeleteButton = document.createElement('button')
                if (selectedRoom === room.id) {
                    fetchMessages(room.id)
                }
                roomWith.innerText = room.receiver
                roomOpenButton.innerText = '열기'
                roomOpenButton.addEventListener('click', () => {
                    selectedRoom = room.id
                    const chatTitle = document.getElementById('chat-title')
                    chatTitle.innerText = roomWith.innerText
                    fetchMessages(room.id)
                })

                roomDeleteButton.innerText = '삭제'
                roomDeleteButton.addEventListener('click', () => {
                    selectedRoom = room.id
                    deleteRoom(room.id)
                })

                roomElem.appendChild(roomWith)
                roomElem.appendChild(roomOpenButton)
                roomElem.appendChild(roomDeleteButton)
                roomElem.appendChild(document.createElement('hr'))
                roomElem.setAttribute('data-room-id', room.id)
                roomContainer.appendChild(roomElem)
            }
        })
            .catch(e => {
            console.log(e.message)
            alert(e.message)
        })
    }

    // 채팅방 선택시 채팅 메시지 가져오기
    const fetchMessages = function (roomId) {
        fetch(`/api/v1/chat/${roomId}`, {
            headers: {
                'Authorization': `Bearer ${getJwt()}`
            }
        }).then(response => {
            if (response.ok)
                return response.json()
            else throw new Error(response.status.toString())
        }).then(bodyJson => {
            const messageContainer = document.getElementById('message-container')
            messageContainer.innerHTML = ``
            for (const message of bodyJson) {
                const messageElem = document.createElement('div')
                const senderElem = document.createElement('h4')
                const contentElem = document.createElement('p')
                const timeElem = document.createElement('h5')
                senderElem.innerText = message.sender
                contentElem.innerText = message.content
                timeElem.innerText = message.timestamp

                messageElem.appendChild(senderElem)
                messageElem.appendChild(contentElem)
                messageElem.appendChild(timeElem)

                messageContainer.insertBefore(messageElem, messageContainer.firstChild)
            }
            messageContainer.scrollTop = messageContainer.scrollHeight
        }).catch(e => {
            console.log(e.message)
            alert(e.message)
        })
    }

    // 채팅방 삭제
    const deleteRoom = function (roomId) {
        fetch(`/api/v1/chat/${roomId}`, {
            method:  'DELETE',
            headers: {
                'Authorization': `Bearer ${getJwt()}`
            }
        }).then(response => {
            if (response.ok) {
                setChatRooms();
            } else {
                throw new Error(response.status.toString());
            }
        })
    }

    // 메시지 보내기
    const sendMessage = function (content) {
        fetch(`/api/v1/chat/${selectedRoom}/send`, {
            method: 'post',
            headers: {
                'Authorization': `Bearer ${getJwt()}`,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({content})
        }).then(response => {
            if (response.ok) {
                fetchMessages(selectedRoom);
            } else {
                throw new Error(response.status.toString());
            }
        })
    }

    document.getElementById('message-form').addEventListener('submit', e => {
        e.preventDefault()
        const contentInput = document.getElementById('message-input')
        const content = contentInput.value
        contentInput.value = ''

        if (!selectedRoom)
            alert('채팅방을 선택하세요!')
        else if (content.trim().length === 0)
            alert('메시지를 입력하세요!')
        else {
            sendMessage(content)
        }
    })

    fetchLoggedIn().then(userInfo => {
        if (!userInfo) {
            requireLogin()
            throw new Error("unauthorized")
        } else {
            userId = userInfo.id
            const userElem = loggedInUserElem(userInfo.username)
            document.querySelector('body').replaceChild(userElem, document.getElementById('user-container'))
        }
    }).then(
        () => setChatRooms()
    ).then(() => {
        if (selectedRoom)
            fetchMessages(selectedRoom)
    }).then(() => {
        // STOMP 구독
        const client = new StompJs.Client({
            brokerURL: 'ws://localhost:8080/ws',
            debug: function (str) {
                console.log(str)
            },
            connectHeaders: {
                'token': `${getJwt()}`
            },
            reconnectDelay: 2000,
            onConnect: () => {
                client.subscribe(`/pub/${userId}`, (frame) => {
                    const message = JSON.parse(frame.body)
                    const targetRoom = document.querySelector(`[data-room-id="${message.roomId}"]`)
                    if (message.roomId === selectedRoom) {
                        const messageContainer = document.getElementById('message-container')
                        const messageElem = document.createElement('div')
                        const senderElem = document.createElement('h4')
                        const contentElem = document.createElement('p')
                        const timeElem = document.createElement('h5')
                        senderElem.innerText = message.sender
                        contentElem.innerText = message.content
                        timeElem.innerText = message.timestamp

                        messageElem.appendChild(senderElem)
                        messageElem.appendChild(contentElem)
                        messageElem.appendChild(timeElem)

                        messageContainer.appendChild(messageElem)
                        messageContainer.scrollTop = messageContainer.scrollHeight

                        const roomContainer = document.getElementById('room-container')
                        roomContainer.insertBefore(targetRoom, roomContainer.firstChild)
                    }
                    else if (targetRoom) {
                        const roomContainer = document.getElementById('room-container')
                        roomContainer.insertBefore(targetRoom, roomContainer.firstChild)
                    }
                    else setChatRooms()
                }, {
                    'token': `${getJwt()}`
                })
            }
        })
        client.activate()
    }).catch(e => {
        console.log(e.message)
    })

</script>
</body>
</html>